.navMain {
    color: rgb(27, 99, 89);
    font-size: 20px;    
}

.navList{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.redLink {
    color: red;
    font-size: 22px;
}